<div class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">
    <span>&copy;2024</span>
	<em><b>说明：</b>本站经书使用繁体本，以简体注释。</em>
	<span>（由<em>悟文</em>重新标点注释）</span>
  </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap3@3.3.5/js/tooltip.js"></script>
<script>
$(document).ready(function(){
  $('[data-toggle="tooltip"]').tooltip({
    animation: false,
    container: "body",
	html: true,
	placement: "bottom"
  });
});
</script>