<div class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">
    <ul class="site-footer-links hidden">
      <li><a target="_blank" href="https://tripitaka.cbeta.org/mobile/index.php">CBETA汉文大藏经</a></li>
      <li><a target="_blank" href="https://www.baus-ebs.org/fodict_online/">在线佛学辞典</a></li>
      <li><a target="_blank" href="https://www.hanyucidian.org/">汉语辞典总汇</a></li>
    </ul>
    <div>
      <span class="cr">&copy;2024</span>
    </div>
    <div>
    </div>
  </div>

</div>
