<div class="site-header">

  <div class="wrapper">
    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.header_pages | default: default_paths -%}
    {%- assign titles_size = site.pages | map: 'title' | join: '' | size -%}
    <a class="site-title" rel="author" href="{{ "/" | relative_url }}" title="悟文的微信：xshxvip。">
      {{ site.title | escape }}
    </a>
    <em style="color: white; font-size: 16px; letter-spacing: -0.085em;">（<strong>道</strong>不可不作，<strong>经</strong>不可不读!）</em>

    <div class="site-font-selectors">
      <button class="site-font-selector" id="btn-simsun" type="button">宋体</button>
      <button class="site-font-selector" id="btn-simkai" type="button">楷体</button>
    </div>
    {%- if titles_size > 0 -%}
      <div class="site-nav">
        {%- for path in page_paths -%}
          {%- assign my_page = site.pages | where: "path", path | first -%}
          {%- if my_page.title -%}
          <a class="page-link" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
          {%- endif -%}
        {%- endfor -%}
      </div>
    {%- endif -%}
  </div>
</div>

