---
# Only the main Sass file needs front matter (the dashes are enough)
---

$base-font-size: 14.5px;
$small-font-size: 13.5px;
// $base-font-size: 18.5px;
// $small-font-size: 16.5px;
$base-font-family: "宋体", "細明體", -apple-system, system-ui, sans-serif;

* {
  box-sizing: border-box;
}

html {
  font-size: $base-font-size;
  overscroll-behavior: none;
}

/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  padding: 0;
  margin: 0;
}

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
ul, ol, dl, figure,
%vertical-rhythm {
  margin-bottom: 15px;
}

/**
 * Basic styling
 */
body {
  color: black;
  font: normal #{$base-font-size}/120% $base-font-family;
  letter-spacing: -0.025em;
  background-color: #e6e6e6;
  overscroll-behavior: none;
}

a {
  color: blue;
  text-decoration: underline;

  &:visited, &:hover {
    color: blue;
  }

  &:hover {
    text-decoration: underline;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  line-height: 1;
}

h1 {
  font-size: $base-font-size * 1.325;
}

h2 {
  font-size: $base-font-size * 1.135;
}

i {
  background-color: #ffe4c4b5;
}

mark {
  color: inherit;
}

dfn, abbr {
  font-style: normal;
  cursor: help;
  border-bottom: 1px dotted;
}

sub, sup {
  font-size: $small-font-size;
}

ruby {
  rt {
    font-family: arial, sans-serif;
    letter-spacing: 0;
  }
}

blockquote {
  color: black;
  font-style: italic;
  > :last-child {
    margin-bottom: 0;
  }
}

pre {
  font-family: "dejavu sans mono", menlo, consolas, monospace, $base-font-family;
  line-height: 120%;
  white-space: pre;
  width: 100%;
  background-color: transparent;
  border: none;
  overflow-x: auto;
}

ul, ol {
  margin-left: 0;
  list-style: none;
}

li {
  > blockquote,
  > ul,
  > ol {
    margin-bottom: 0;
  }
}

.container {
  width: 530px;
  max-width: 100%;
  padding-right: 10px;
  padding-left: 10px;
  margin: 0 auto;
  @extend %clearfix;
}

%clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.header {
  text-align: center;
  padding: 11px 0 12px;
  margin-bottom: 10px;
  background-color: white;
  box-shadow: inset 0 -1px 0 rgba(0,0,0,0.2);
  .brand {
    color: black!important;
    font-size: $base-font-size * 1.235;
    font-weight: bold;
    text-decoration: none!important;
    line-height: 1;
    outline: none!important;
  }
}

.content {
  margin-bottom: 10px;
  .container {
    background-color: white;
    border: 1px solid transparent;
  }
}

.post-list {
  // list-style: inside decimal-leading-zero;
}

.footer {
  text-align: center;
  font-size: $small-font-size;
  margin-top: 3px;
}

pre {
}

.collapse {
  display: inline;
}

.collapse-toggler {
  cursor: pointer;
  color: black;
  border-bottom: 1px dotted;
  .arrow:before {
    content: "←";
  }
}

.collapse-toggler.active {
  font-weight: bold;
  .arrow:before {
    content: "↓";
  }
}

.collapse-toggler + abbr {
  font-size: 85%;
}

.collapse-body {
  display: none;
}

.collapse-body.active {
  display: inline;
}

.overview {
  font-size: $base-font-size;
  overflow: visible;
  background-color: aliceblue;
}

.breadcrumb {
  font-style: italic;
  padding: 2px 0;
  margin: 6px 0;
}

.subtitle {
  color: #9f5000;
  font-size: $small-font-size;
  margin-left: 10px;
}

.author {
  text-align: right;
}

.blue {
  color: blue;
}

.black {
  color: black;
}

.darkgray {
  color: darkgray;
}

.red {
  color: red;
}

.brown {
  color: brown;
}

.limegreen {
  color: #2aaf2a;
}

.darkviolet {
  color: darkviolet;
}

.dodgerblue {
  color: dodgerblue;
}

.excerpts {
  margin-left: 15px;
  list-style: disc;
}
