---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";

* {
  box-sizing: border-box;
}

body {
  // font: 400 16px/1.175 "細明體", "新細明體", "新細明體-ExtB", "宋体", simsun, -apple-system, system-ui, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
}


/*
 * Stylings
 */
.black {
  color: black;
}

.red {
  color: red;
}

.blue {
  color: blue;
}

.darkviolet {
  color: darkviolet;
}

.dodgerblue {
  color: dodgerblue;
}

.limegreen {
  color: limegreen;
}


/*
 * Layouts
 */
.site-font-selectors {
  display: none;
  float: right;

  .site-font-selector {
    display: inline-block;
    cursor: pointer;
    color: white;
    font-size: 11px;
    border-style: solid;
    border-width: 1px;
    border-color: white black black white;
    padding: 2px 3px 1px;
    background-color: transparent;

    &.current {
      font-weight: bold;
      border-color: black white white black;
    }
  }
}


/*
 * Media query
 */
@media screen and (min-width: $on-large) {
  .site-font-selectors {
    display: block;
  }
}

