---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";

* {
  box-sizing: border-box;
}

body {
  // font: 400 16px/1.175 "細明體", "新細明體", "新細明體-ExtB", "宋体", simsun, -apple-system, system-ui, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
}

.site-header .wrapper {
  display: flex;
  align-items: center;
  // justify-content: center; // 只有在切换字体的按钮显示时，才需要这条样式
}


/*
 * Stylings
 */
.black {
  color: black;
}

.red {
  color: red;
}

.peru {
  color: peru;
}

.blue {
  color: blue;
}

.gold {
  color: gold;
}

.deeppink {
  color: deeppink;
}

.brown {
  color: brown;
}

.darkviolet {
  color: darkviolet;
}

.dodgerblue {
  color: dodgerblue;
}

.limegreen {
  color: #2db42d;
}

.darkgray {
  color: darkgray;
}


/*
 * Layouts
 */


/*
 * Media query
 */
@media screen and (min-width: $on-large) {
}

