html {
  font-size: $base-font-size;
  overscroll-behavior: none;
}

/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}



/**
 * Basic styling
 */
body {
  color: $text-color;
  font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
  letter-spacing: $letter-spacing;
  background: $background-color;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
     -moz-font-feature-settings: "kern" 1;
       -o-font-feature-settings: "kern" 1;
          font-feature-settings: "kern" 1;
  font-kerning: normal;
  overflow-wrap: break-word;
  overscroll-behavior: none;
  // zoom: 110%;

  &.home {
    background: $background-color url("/assets/X57p0474_01.gif") right 40px/350px no-repeat fixed;

    @include media-query($on-large + 100) {
      background: $background-color;
    }
  }
}



/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
  margin-bottom: 15px;
}

hr {
  margin-top: 15px;
  margin-bottom: 15px;
  border: 0;
  border-top: 1px solid transparent;
}

/**
 * `main` element
 */
main {
  display: block; /* Default value of `display` of `main` element is 'inline' in IE 11. */
}



/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle;
}



/**
 * Figures
 */
figure > img {
  display: block;
}

figcaption {
  font-size: $small-font-size;
}



/**
 * Lists
 */
ul, ol {
  margin-left: 15px;
  list-style: square;
}

li {
  > blockquote,
  > ul,
  > ol {
    margin-bottom: 0;
  }
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}



/**
 * Links
 */
a {
  color: $link-base-color;
  text-decoration: underline;
  // transition: .1s;

  &:visited {
    color: $link-visited-color;
  }

  &:hover {
    color: $link-hover-color;
    text-decoration: underline;
    // font-weight: bold;
  }
}


/**
 * Blockquotes
 */
blockquote {
  color: black;
  font-style: italic;
  > :last-child {
    margin-bottom: 0;
  }

  i, em {
  }
}


/**
 * Typography
 */
strong {
}

em {
}

mark {
  color: inherit;
  background-color: #ffd70080;
}

i {
  background-color: #ffe4c480;
}

u {
  cursor: help;
}

dfn, abbr {
  cursor: help;
  font-style: normal;
  border-bottom: 1px solid;

  em & {
    font-style: italic;
  }
}

sub, sup {
  font-size: $small-font-size;
}

ruby {
  rt {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 10px;
    letter-spacing: 0!important;
  }
}



/**
 * Code formatting
 */
pre,
code {
  font-family: $base-font-family;
}

code {
  color: #666;
  font-style: italic;
  font-size: $small-font-size;
  font-family: sans-serif;
  padding: 1px 4px;
  text-emphasis: dot;
  text-emphasis-position: under;
}

pre {
  padding: 8px 12px;
  overflow-x: auto;

  > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}

.highlight {
  @extend %vertical-rhythm;

  .highlighter-rouge & {
    background: transparent;
  }
}



/**
 * Wrapper
 */
.wrapper {
  width: 535px;
  max-width: 100%;
  padding-right: 10px;
  padding-left: 10px;
  @extend %clearfix;
}



/**
 * Clearfix
 */
%clearfix:after {
  content: "";
  display: table;
  clear: both;
}



/**
 * Tables
 */
table {
  margin-bottom: $spacing-unit;
  width: 100%;
  text-align: $table-text-align;
  color: $table-text-color;
  border-collapse: collapse;
  border: 1px solid $table-border-color;
  tr {
    &:nth-child(even) {
      background-color: $table-zebra-color;
    }
  }
  th, td {
    padding: ($spacing-unit * 33.3333333333 * .01) ($spacing-unit * .5);
  }
  th {
    background-color: $table-header-bg-color;
    border: 1px solid $table-header-border;
  }
  td {
    border: 1px solid $table-border-color;
  }

  @include media-query($on-laptop) {
    display: block;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
            -ms-overflow-style: -ms-autohiding-scrollbar;
  }
}
