/**
 * Site header
 */
.site-header {
  line-height: 1.25;
  width: 100%;
  padding: 10px 0;
  background-color: blue;

  // Positioning context for the mobile navigation icon
  position: relative;
}

.site-title {
  color: white;
  font-weight: bold;
  text-decoration: none!important;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: none;

  &,
  &:visited {
    color: white;
  }
}

.site-nav {
  position: absolute;
  top: 9px;
  right: $spacing-unit * .5;
  background-color: $background-color;
  border: 1px solid $border-color-01;
  border-radius: 5px;
  text-align: right;

  .nav-trigger {
    display: none;
  }

  .menu-icon {
    float: right;
    width: 36px;
    height: 26px;
    line-height: 0;
    padding-top: 10px;
    text-align: center;

    > svg path {
      fill: $border-color-03;
    }
  }

  label[for="nav-trigger"] {
    display: block;
    float: right;
    width: 36px;
    height: 36px;
    z-index: 2;
    cursor: pointer;
  }

  input ~ .trigger {
    clear: both;
    display: none;
  }

  input:checked ~ .trigger {
    display: block;
    padding-bottom: 5px;
  }

  .page-link {
    color: $text-color;
    line-height: $base-line-height;
    display: block;
    padding: 5px 10px;
    margin-left: 20px;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 0;
    }
  }

  @media screen and (min-width: $on-medium) {
    position: static;
    float: right;
    border: none;
    background-color: inherit;

    label[for="nav-trigger"] {
      display: none;
    }

    .menu-icon {
      display: none;
    }

    input ~ .trigger {
      display: block;
    }

    .page-link {
      display: inline;
      padding: 0;
      margin-left: auto;

      &:not(:last-child) {
        margin-right: 20px;
      }
    }
  }
}



/**
 * Site footer
 */
.site-footer {
  font-size: 13px;
  padding: 0 10px;
  width: 100%;
}



/**
 * Page content
 */
.page-content {
  padding: 25px 0;
}

.page-heading {
  @include relative-font-size(2);
}

.post-list-heading {
  @include relative-font-size(1);
}

.post-list {
  margin-left: 0;
  list-style: none;
}

.post-meta {
  color: $brand-color;
  font-size: $small-font-size;
  font-style: italic;
}

.post-link {
}



/**
 * Breadcrumb
 */
.breadcrumb {
  font-size: 16px;
  font-style: italic;
  margin-bottom: 20px;

  .divide {
    margin: 0 5px;
  }
}



/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title,
.post-content h1 {
  font-size: 26px;
  letter-spacing: 4px;
  line-height: 1.15;
  margin-bottom: 0;
}

.author {
  font-weight: bold;
  letter-spacing: 4px;
  text-align: right;
}

.post-content {
  margin-bottom: $spacing-unit;

  h1, h2, h3, h4, h5, h6 {
    margin-top: $spacing-unit;
  }

  h2 {
    font-size: 22px;
    letter-spacing: 4px;
  }

  h3, h4, h5, h6 {
    font-size: 20px;
  }
}


.social-media-list {
  display: table;
  margin: 0 auto;
  li {
    float: left;
    margin: 5px 10px 5px 0;
    &:last-of-type { margin-right: 0 }
    a {
      display: block;
      padding: 10px 12px;
      border: 1px solid $border-color-01;
      &:hover { border-color: $border-color-02 }
    }
  }
}



/**
 * Pagination navbar
 */
.pagination {
  margin-bottom: $spacing-unit;
  @extend .social-media-list;
  li {
    a, div {
      min-width: 41px;
      text-align: center;
      box-sizing: border-box;
    }
    div {
      display: block;
      padding: $spacing-unit * .25;
      border: 1px solid transparent;

      &.pager-edge {
        color: $border-color-01;
        border: 1px dashed;
      }
    }
  }
}



/**
 * Grid helpers
 */
@media screen and (min-width: $on-large) {
  .one-half {
    width: calc(50% - (#{$spacing-unit} / 2));
  }
}
