/**
 * Site header
 */
.site-header {
  line-height: 1.25;
  width: 100%;
  padding: 5px 0 4px;
  background-color: darkseagreen;

  // Positioning context for the mobile navigation icon
  // position: relative;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;

  .wrapper {
    width: 100%;
    max-width: 100%;
  }

  a {
    color: white;
    text-decoration: none!important;

    &:hover,
    &:visited {
      color: white;
    }
  }
}

.site-title {
  font-weight: bold;
  margin-bottom: 0;
  float: none;

}

.site-nav {
  margin-left: auto;
}



/**
 * Site footer
 */
.site-footer {
  font-size: $small-font-size;
  letter-spacing: 0.025rem;
  width: 100%;
}



/**
 * Page content
 */
.page-content {
  padding: 10px 0;
  margin-top: 27px;
}

.page-heading {
  @include relative-font-size(2);
}

.post-list-heading {
  font-size: $base-font-size + 2;
}

.post-list {
  margin-left: 0;
  list-style: none;
}

.post-meta {
  color: $brand-color;
  font-size: $small-font-size;
  font-style: italic;

  > span {
    margin-right: 5px;
  }
}

.post-link {
}



/**
 * Breadcrumb
 */
.breadcrumb {
  $breadcrumb-color: #008000;

  color: $breadcrumb-color;
  font-size: $small-font-size;
  font-style: italic;
  margin-bottom: 20px;

  .divide {
    margin: 0 1px;
  }

  a {
    color: $breadcrumb-color;
  }
}



/**
 * Posts
 */
.post-header {
  margin-bottom: 20px;
}

.post-title,
.post-content h1 {
  color: blue;
  font-size: $base-font-size + 4;
  letter-spacing: 4px;
  line-height: 1.15;
  margin-bottom: 0;
}

.author {
  color: #408080;
  font-weight: bold;
  letter-spacing: 4px;
  text-align: right;
}

.post-content {
  margin-bottom: 10px;

  h1, h2, h3, h4, h5, h6 {
    margin-top: $spacing-unit;
  }

  h2 {
    font-size: $base-font-size + 4;
    letter-spacing: 4px;
  }

  h3, h4, h5, h6 {
    font-size: $base-font-size + 4;
  }
}



/**
 * Pagination navbar
 */
.pagination {
  margin-bottom: $spacing-unit;
  li {
    a, div {
      min-width: 41px;
      text-align: center;
      box-sizing: border-box;
    }
    div {
      display: block;
      padding: $spacing-unit * .25;
      border: 1px solid transparent;

      &.pager-edge {
        color: $border-color-01;
        border: 1px dashed;
      }
    }
  }
}



/**
 * Grid helpers
 */
@media screen and (min-width: $on-large) {
  .one-half {
    width: calc(50% - (#{$spacing-unit} / 2));
  }
}
