// Placeholder to allow overriding predefined variables smoothly.
$brand-color: #333;
$text-color: black;
$base-font-size: 16px;
$small-font-size: 14px;
$base-line-height: 1.175;
// $base-font-family: "標楷體", "細明體", "新細明體", "新細明體-ExtB", cursive, "楷体", "宋体", -apple-system, system-ui, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
$base-font-family: "細明體", "新細明體", "新細明體-ExtB", "宋体", simsun, -apple-system, system-ui, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
$link-base-color: blue;
$link-hover-color: $link-base-color;
$link-visited-color: $link-base-color;
$background-color: white;
// $background-color: bisque;

