<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {%- seo -%}
    <link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">
    {%- feed_meta -%}
    <link rel="shortcut icon" type="image/x-icon" href="{{ "/favicon.ico" | relative_url }}">
  </head>
  <body>
	
    <div class="header">
      <div class="container">
        <div><a class="brand" href="{{ "/" | relative_url }}">{{ site.title |
            escape }}</a></div>
      </div>
    </div>

    <div class="content">
      <div class="container">
        {{ content }}
      </div>
    </div>

    <div class="footer">
      <div class="container">
        <div>
          <div>
            <a href="https://tripitaka.cbeta.org/mobile/index.php" target="_blank">CBETA汉文大藏经</a>
            <a href="https://www.baus-ebs.org/fodict_online/" target="_blank">在线佛学辞典</a>
            <a href="https://zi.tools/" target="_blank">字统网</a>
            <a href="https://convert.tw/" target="_blank">繁简转换王</a>
          </div>
          <div><em>道不可不作，经不可不学。</em></div>
          <div>fazang.xyz@gmail.com</div>
          <div>&copy;2025</div>
        </div>
      </div>
    </div>

  </body>
</html>
