<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>
  
    <div style="display: none; text-align: center;"><img style="max-width: 240px;" src="https://img-shoplineapp-com.s3.amazonaws.com/media/image_clips/5b4f04e572fdc07c8100013a/large.jpg?1531905252" alt="大藏經"></div>
	
    {%- include header.html -%}

    <div class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {%- include footer.html -%}

  </body>

</html>
