---
layout: base
---
<div class="breadcrumb">
  <a href="{{ site.baseurl }}/">主页</a>
  <span>/</span>
  <span>经籍</span>
  <span>/</span>
  <strong>〖《{{ page.title }}》〗</strong>
</div>

<div>

  <div>
    <h1>
      {{ page.title | escape }}
      {%- if page.subtitle -%}
        <span style="color: #9f5000; font-size: 12px; margin-left: 10px;">{{ page.subtitle }}</span>
      {%- endif -%}
    </h1>
  </div>

  <div>
    {{ content }}
  </div>

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>

</div>
